.task-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    color: gray;
}

.tasklist-actions {
    button {
        border: none;
        background: none;
        cursor: pointer;
        margin: .5rem;
        color: lightgray;
        outline: none;

        &:hover {
            color: gray;
        }
    }

    span {
        float: right;
        margin: .5rem;
        margin-right: 1rem;
    }
}

.error-msg {
    background: red;
    padding: .1rem;
    color: white;

    h2 {
        margin: 1rem;
    }
}

.info-wrapper {
    display: flex;
    justify-content: space-between;
    span {
        color: gray;
        margin: 1rem;
    }
}

