.add-task-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    border-bottom: 1px solid lightgray;

    color: gray;

    input,
    input:active,
    input:focus
    {
        border: none;
        outline: none;
        margin: 1rem;
        font-size: 1.2rem;
    }
    textarea, textarea:active, input:focus {
        border: none;
        resize: none;
        outline: none;
        margin: 1rem;
        color: gray;

    }

    .char-counter {
        text-align: end;
        margin-right: 1rem;
        font-size: small;
    }
}